<h2 class="currencies-title get-started-title" style="margin-top: 36px;"><strong>Frequently asked questions</strong></h2>
<div class="panel" style="border-radius: 8px;">
    <div class="panel-body" style="padding: 15px 25px;">
        <div class="get-started-panel">
            <div class="flex-columns get-started-icons-container"><img src="assets/img/article.svg" style="width: 50px; margin-top: -15px"></div>
            <div class="flex-columns">
                <label>Visit the help center</label>
            </div>
            <div class="flex-columns">
                <button class="btn btn-primary get-started-buttons pull-right" ng-click="openRehiveUrl('https://rehive.intercom.help/en/')">View</button>
            </div>
        </div>
    </div>
</div>
<div class="panel" style="border-radius: 8px;">
    <div class="panel-body" style="padding: 15px 25px;">
        <div class="get-started-panel">
            <div class="flex-columns get-started-icons-container"><img src="assets/img/article.svg" style="width: 50px; margin-top: -15px"></div>
            <div class="flex-columns">
                <label>Where does Rehive fit in on the fintech stack?</label>
                <div>Most fintech apps need a middleware layer on top of existing systems.</div>
            </div>
            <div class="flex-columns">
                <button class="btn btn-primary get-started-buttons pull-right" ng-click="openRehiveUrl('https://rehive.intercom.help/en/articles/3446750-where-does-rehive-fit-in-on-the-fintech-stack')">View</button>
            </div>
        </div>
    </div>
</div>
<div class="panel" style="border-radius: 8px;">
    <div class="panel-body" style="padding: 15px 25px;">
        <div class="get-started-panel">
            <div class="flex-columns get-started-icons-container"><img src="assets/img/article.svg" style="width: 50px; margin-top: -15px"></div>
            <div class="flex-columns">
                <label>How does cash-in and cash-out work?</label>
                <div>Enabling bank or credit card payments in your app.</div>
            </div>
            <div class="flex-columns">
                <button class="btn btn-primary get-started-buttons pull-right" ng-click="openRehiveUrl('https://rehive.intercom.help/en/articles/3592624-how-to-do-cash-in-and-cash-out-on-rehive')">View</button>
            </div>
        </div>
    </div>
</div>
<div class="panel" style="border-radius: 8px;">
    <div class="panel-body" style="padding: 15px 25px;">
        <div class="get-started-panel">
            <div class="flex-columns get-started-icons-container"><img src="assets/img/article.svg" style="width: 50px; margin-top: -15px"></div>
            <div class="flex-columns">
                <label>How does KYC work?</label>
            </div>
            <div class="flex-columns">
                <!-- <button class="btn btn-primary get-started-buttons pull-right" ng-click="openRehiveUrl('')">View</button> -->
                <div class="pull-right" style="width: 95px; height: 10px;">
                    <span class="get-started-text">Coming soon</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel" style="border-radius: 8px;">
    <div class="panel-body" style="padding: 15px 25px;">
        <div class="get-started-panel">
            <div class="flex-columns get-started-icons-container"><img src="assets/img/article.svg" style="width: 50px; margin-top: -15px"></div>
            <div class="flex-columns">
                <label>How does the handover process work?</label>
                <div>Steps to go live with a white-label app.</div>
            </div>
            <div class="flex-columns">
                <button class="btn btn-primary get-started-buttons pull-right" ng-click="openRehiveUrl('https://rehive.intercom.help/en/articles/4774580-how-does-the-handover-process-work')">View</button>
            </div>
        </div>
    </div>
</div>
<div class="panel" style="border-radius: 8px;">
    <div class="panel-body" style="padding: 15px 25px;">
        <div class="get-started-panel">
            <div class="flex-columns get-started-icons-container"><img src="assets/img/article.svg" style="width: 50px; margin-top: -15px"></div>
            <div class="flex-columns">
                <label>White-label go-live checklist</label>
                <div>What we require from you in order to begin the white-label handover process.</div>
            </div>
            <div class="flex-columns">
                <button class="btn btn-primary get-started-buttons pull-right" ng-click="openRehiveUrl('https://rehive.intercom.help/en/articles/4778580-white-label-go-live-checklist')">View</button>
            </div>
        </div>
    </div>
</div>
<div class="panel" style="border-radius: 8px;">
    <div class="panel-body" style="padding: 15px 25px;">
        <div class="get-started-panel">
            <div class="flex-columns get-started-icons-container"><img src="assets/img/article.svg" style="width: 50px; margin-top: -15px"></div>
            <div class="flex-columns">
                <label>What is the difference between White-label Hosting and Grey-label Hosting?</label>
                <div>Choose the package that works for you.</div>
            </div>
            <div class="flex-columns">
                <button class="btn btn-primary get-started-buttons pull-right" ng-click="openRehiveUrl('https://rehive.intercom.help/en/articles/3437557-what-is-the-difference-between-white-label-hosting-and-white-label-software-license')">View</button>
            </div>
        </div>
    </div>
</div>