.currency-settings{
  margin-top: 6px;
  font-size: 22px;
}

.company-setting-dropdown{
  margin-top: 6px;
  width: 120px;
}

.company-setting-date-dropdown{
  margin-top: 12px;
  min-width: 130px;
}

//.currency-settings-btn{
//  margin-top: 6px;
//}