.ng-confirm.ng-confirm-white .ng-confirm-box{
  padding: 25px;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-radius: 0;
}

.ng-confirm .ng-confirm-box .ng-confirm-buttons button{
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-radius: 0;
  font-weight: normal;
  text-transform: none !important;
}

.ng-confirm.ng-confirm-white .ng-confirm-box .ng-confirm-buttons button {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-radius: 0;
  font-weight: normal;
  text-transform: none !important;
}

.ng-confirm .ng-confirm-box div.ng-confirm-title-c .ng-confirm-title{
  font-size: 14px !important;
  font-weight: bold !important;
  color: #022b36 !important;
}

.ng-confirm .ng-confirm-box .ng-confirm-buttons {
  padding: 0;
}

.delete-button{
  margin-top: 15px;
}

.delete-button-lifted{
  margin-top: 14px;
}