<div ba-panel class="service-header menu-box" ba-panel-class="light-text">
    <!--<div class="menu-hex-container">-->
        <!--<div class="hexagon"></div>-->
        <!--<div class="hex-over">&nbsp;</div>-->
    <!--</div>-->
    <hr class="no-margin">
    <div ng-click="goToStellarAccountSetting('hotwallet')" class="pointer menu-box-options"
         ng-class="{'selected-settings-menu': stellarAccountSettingView == 'hotwallet' }">
        <h5>Hot wallet<i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToStellarAccountSetting('warmstorage')" class="pointer menu-box-options"
         ng-class="{'selected-settings-menu': stellarAccountSettingView == 'warmstorage' }">
        <h5>Warm storage<i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToStellarAccountSetting('coldstorage')" class="pointer menu-box-options"
         ng-class="{'selected-settings-menu': stellarAccountSettingView == 'coldstorage' }">
        <h5>Cold storage<i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
</div>
