<rewards-service-navigation></rewards-service-navigation>
<div class="row divider-30">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a style="font-size: 13px" class="pointer margin-right-30" target="_blank" href="https://docs.rehive.com/extensions/rewards/introduction/">Documentation</a>
        <a style="font-size: 13px" class="pointer margin-right-30" target="_blank" href="https://reward.services.rehive.io/swagger/">Swagger UI</a>
    </div>
</div>
<!--<div class="row">-->
    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
            <!--<span class="rewards-service-breadcrumb"><span>Rewards</span>&nbsp; /&nbsp;-->
                <!--<span ng-show="(trackedLocation == 'campaigns')" ng-click="goToRewardsBreadCrumbsView('/services/rewards/campaigns')"-->
                <!--<span ng-show="(trackedLocation == 'campaigns')" ng-click="goToRewardsBreadCrumbsView('/extensions/rewards/campaigns')"-->
                      <!--ng-class="{'text-bold':(trackedLocation == 'campaigns' && secondaryTrackedLocation == ''),-->
                      <!--'pointer':(trackedLocation == 'campaigns' && secondaryTrackedLocation != '')}">-->
                    <!--Campaigns-->
                <!--</span>-->
                <!--<span ng-show="(trackedLocation == 'list')" ng-click="goToRewardsBreadCrumbsView('/services/rewards/list')"-->
                <!--<span ng-show="(trackedLocation == 'list')" ng-click="goToRewardsBreadCrumbsView('/extensions/rewards/list')"-->
                      <!--ng-class="{'text-bold':(trackedLocation == 'list' && secondaryTrackedLocation == ''),-->
                      <!--'pointer':(trackedLocation == 'list' && secondaryTrackedLocation != '')}">-->
                    <!--List-->
                <!--</span>-->
                <!--&lt;!&ndash;<span ng-show="(trackedLocation == 'requests')" ng-class="{'text-bold': trackedLocation == 'requests','pointer': trackedLocation == 'account'}"&ndash;&gt;-->
                      <!--&lt;!&ndash;ng-click="goToRewardsBreadCrumbsView('/services/rewards/requests')">&nbsp;/&nbsp; Requests</span>&ndash;&gt;-->
                      <!--&lt;!&ndash;ng-click="goToRewardsBreadCrumbsView('/extensions/rewards/requests')">&nbsp;/&nbsp; Requests</span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span ng-show="(trackedLocation == 'permissions')" ng-class="{'text-bold': trackedLocation == 'permissions'}"&ndash;&gt;-->
                      <!--&lt;!&ndash;ng-click="goToBreadCrumbsView('/user/' + user.id + '/permissions')">&nbsp;/&nbsp; Permissions</span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span ng-show="trackedLocation == 'transactions'" ng-class="{'text-bold': trackedLocation == 'transactions'}">&nbsp;/&nbsp; Transactions</span>&ndash;&gt;-->
                <!--<span ng-show="secondaryTrackedLocation == 'create'" ng-class="{'text-bold': secondaryTrackedLocation == 'create'}">&nbsp;/&nbsp; Create</span>-->
                <!--<span ng-show="secondaryTrackedLocation == 'edit'" ng-class="{'text-bold': secondaryTrackedLocation == 'edit'}">&nbsp;/&nbsp; Edit</span>-->
                <!--&lt;!&ndash;<span ng-show="secondaryTrackedLocation == 'fees'" ng-class="{'text-bold': secondaryTrackedLocation == 'fees'}">&nbsp;/&nbsp; {{accountBreadCrumbTitle}} fees</span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span ng-show="secondaryTrackedLocation == 'settings'" ng-class="{'text-bold': secondaryTrackedLocation == 'settings'}">&nbsp;/&nbsp; {{accountBreadCrumbTitle}} settings</span>&ndash;&gt;-->
            <!--</span>-->
    <!--</div>-->
<!--</div>-->
<div ui-view="rewardsServiceViews"></div>