<div ng-hide="deletingAccountConfig" class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">Delete account configurations</h4>
    </div>
    <div class="modal-body">
        <p class="divider"><span class="text-subtle">Account configurations name:</span> {{accountConfig.name}}</p>
        <p class="divider"><span class="text-subtle">Account configurations label:</span> {{accountConfig.label}}</p>
    </div>
    <div class="modal-footer">
        <!--<button type="button" class="btn btn-default dashboard-btn pull-left" ng-click="$dismiss()">Close</button>-->
        <button ng-click="deleteAccountConfigConfirm()"
                type="button" class="btn btn-default delete-button-lifted pull-right margin-left-12">Delete permanently</button>
        <button ng-click="archiveAccountConfig()" ng-disabled="accountConfig.archived"
                ng-class="{'btn-primary': !accountConfig.archived,'btn-gray': accountConfig.archived}"
                type="button" class="btn dashboard-btn pull-right">Archive</button>
    </div>
</div>
<div ba-panel ng-show="deletingAccountConfig">
    <loading-image></loading-image>
</div>
