<div ba-panel class="service-header col-lg-9 col-md-9 col-sm-12 col-xs-12" ng-keydown="($event.keyCode === 13)  && getIcoQuotes('applyFilter')">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 divider">
            <label><strong>Id</strong></label>
            <input type="text"  class="form-control" id="id"  placeholder="Enter quote id" ng-model="searchQuoteParams.searchId" size="12">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <label><strong>Deposit currency</strong></label>
            <br>
            <select class="form-control pointer" ng-model="searchQuoteParams.searchCurrency"
                    ng-options="currency.code for currency in currencyOptions | orderBy: 'code' track by currency.code">
            </select>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <label>&nbsp;</label>
            <br>
            <button ng-disabled="loadingQuotes" class="btn btn-primary dashboard-btn pull-right" ng-click="getIcoQuotes('applyFilter')">Apply</button>
        </div>
    </div>
</div>