<form name="creditDepositTransactionForm" class="custom-form">
    <div class="transaction-form" id="creditDepositForm">
        <div class="form-group">
            <label>Currency <span class="required-icon">*</span>
                <span class="no-accounts-available"
                      ng-show="(creditDepositCurrencyOptions.length == 0)">No currencies found.
                    <span ng-click="goToAddCurrencyModal()"> Please add a currency.</span>
                </span>
            </label>
            <br>
            <div class="reward-multi-select">
                <select chosen
                        data-placeholder-text-single="'Choose a currency'"
                        width="100"
                        allow-single-deselect="true"
                        ng-model="creditDepositTransactionData.currency"
                        ng-change="creditCurrencyChanged()"
                        ng-options="currency.display_code for currency in creditDepositCurrencyOptions | orderBy: 'code' track by currency.code">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>Account reference <span class="required-icon">*</span>&nbsp;
                <a ng-show="retrievedCreditDepositAccountsArray.length > 0" class="pull-right divider pointer edit-transaction-divider"
                     ng-click="creditCurrencyChanged()" style="margin-bottom: 0px!important;">Clear search </a>&nbsp;
                <i ng-show="creditDepositTransactionData.account && creditDepositTransactionData.account.name" class="fa fa-list-alt transaction-account-icon" aria-hidden="true"></i>
                <div ng-show="retrievedCreditDepositAccountTransactions.length > 0" class="row transaction-account-details credit-deposit-transaction-details">
                    <p class="transaction-tooltip-title">Recent transactions:</p>
                    <table class="table custom-table">
                        <tr>
                            <th>Type</th>
                            <th>Currency</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Date</th>
                        </tr>
                        <tr ng-repeat="transaction in retrievedCreditDepositAccountTransactions | limitTo: 5 | orderBy: '-created' track by $index">
                            <td>{{transaction.tx_type}}</td>
                            <td>{{transaction.currency.code}}</td>
                            <td>{{transaction.amount | currencyModifiersFilter: transaction.currency.divisibility | commaSeperateNumberFilter}}</td>
                            <td>{{transaction.status | capitalizeWord}}</td>
                            <td>{{transaction.created | date:'mediumDate'}}, {{transaction.created | date:'shortTime'}}</td>
                        </tr>
                    </table>
                </div>
                <div ng-show="retrievedCreditDepositAccountTransactions.length == 0"
                     ng-class="{'no-account-transactions': retrievedCreditDepositAccountTransactions.length == 0}"
                     class="row transaction-account-details credit-deposit-transaction-details">
                    <i>No transactions exist for this account.</i>
                </div>
                <span ng-hide="creditDepositTransactionData.currency.code">Please choose currency first.</span>
                <span ng-hide="creditDepositCurrencyAccountsAvailable" class="no-accounts-available">Searched account is not associated with selected currency.
                    <span ng-show="!creditDepositCurrencyAccountsAvailable && retrievedCreditDepositUserObj.id" ng-click="goToCreditUserAccountCreate()"> Add an account here.</span>
                </span>
            </label>
            <input ng-hide="retrievedCreditDepositAccountsArray.length > 0" type="text" ng-model="searchAccountReferenceString" 
                placeholder="Search by account reference e.g. ZRSJRYFGL8"
                ng-disabled="!creditDepositTransactionData.currency.code"
                uib-typeahead="account for account in getCreditUsersAccountTypeahead($viewValue)" 
                typeahead-on-select="onCreditReferenceSelected($model)" ng-model-options='{ debounce: 800 }'
                class="form-control" size="12">
            <select ng-show="retrievedCreditDepositAccountsArray.length > 0" class="form-control pointer" ng-model="creditDepositTransactionData.account" ng-change="creditDepositAccountSelected(creditDepositTransactionData)" 
                    ng-disabled="!creditDepositTransactionData.currency.code"
                    ng-options="account.name + ' - ' + account.reference disable when account.disable for account in retrievedCreditDepositAccountsArray | orderBy: 'name' track by account.name">
            </select>
        </div>
        <div class="form-group">
            <label>User: &nbsp;<span ng-show="retrievedCreditDepositUserObj.email" class="welcome-label3 transaction-helper-label" style="margin-right: 0px;">{{retrievedCreditDepositUserObj.email}}</span>&nbsp;
                <i ng-show="retrievedCreditDepositUserObj.id" class="fa fa-user transaction-user-icon" aria-hidden="true"></i>
                <div class="row transaction-user-details credit-deposit-user-details">
                    <table>
                        <tr>
                            <th style="text-align: right" width="30%">Name:</th>
                            <td style="padding-left: 15px">{{retrievedCreditDepositUserObj.first_name}} {{retrievedCreditDepositUserObj.last_name}}</td>
                        </tr>
                        <tr>
                            <th style="text-align: right" width="30%">Created date:</th>
                            <td style="padding-left: 15px" ng-show="retrievedCreditDepositUserObj.created">{{retrievedCreditDepositUserObj.created | date:'mediumDate'}}, {{retrievedCreditDepositUserObj.created | date:'shortTime'}}</td>
                        </tr>
                        <tr>
                            <th style="text-align: right" width="30%">Last login:</th>
                            <td style="padding-left: 15px" ng-show="retrievedCreditDepositUserObj.last_login">{{retrievedCreditDepositUserObj.last_login | date:'mediumDate'}}, {{retrievedCreditDepositUserObj.last_login | date:'shortTime'}}</td>
                        </tr>
                        <tr>
                            <th style="text-align: right" width="30%">Group:</th>
                            <td style="padding-left: 15px" ng-bind="retrievedCreditDepositUserObj.groups[0].name"></td>
                        </tr>
                        <tr>
                            <th style="text-align: right" width="30%">KYC status:</th>
                            <td style="padding-left: 15px" ng-bind="retrievedCreditDepositUserObj.kyc.status | capitalizeWord"></td>
                        </tr>
                        <tr>
                            <th style="text-align: right" width="30%">MFA status:</th>
                            <td style="padding-left: 15px" ng-bind="mfaEnabled" ng-class="{'mfa-enabled': mfaEnabled === 'Enabled', 'mfa-disabled':  mfaEnabled === 'Disabled'}"></td>
                        </tr>
                        <tr ng-show="mfaOBj.updated">
                            <th style="text-align: right" width="40%">MFA last updated:</th>
                            <td style="padding-left: 15px" ng-show="mfaOBj.updated">{{mfaOBj.updated | date:'mediumDate'}}, {{mfaOBj.updated | date:'shortTime'}}</td>
                        </tr>
                        <tr ng-show="retrievedCreditDepositUserObj.metadata">
                            <th style="text-align: right" width="40%">User metadata:</th>
                            <td style="padding-left: 15px" ng-bind="retrievedCreditDepositUserObj.metadata"></td>
                        </tr>
                    </table>
                </div>
                <span ng-hide="creditDepositUserExists"> <i>No users found with the searched reference.</i></span>
            </label>
            
        </div>
        <div class="form-group">
            <label>Amount <span class="required-icon">*</span></label>
            <input type="text" ng-model="creditDepositTransactionData.amount" class="form-control"  placeholder="e.g. 100000000">
        </div>        
        <div class="form-group">
            <label>Reference</label>
            <input type="text" ng-model="creditDepositTransactionData.reference" class="form-control"  placeholder="e.g. # 1234">
        </div>
        
        <span>
            <a class="pointer" ng-hide="showAdvancedCreditDepositOption" ng-click="toggleAdvancedCreditDepositOption()">Advanced options</a>
            <div ng-show="showAdvancedCreditDepositOption">
                <div class="form-group">
                    <label>Subtype</label>
                    <select class="form-control pointer" ng-model="creditDepositTransactionData.subtype"
                            ng-options="subtypeOption.name for subtypeOption in creditDepositSubtypeOptions | filter: {tx_type: 'credit'}">
                        <option value=""></option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Note</label>
                    <textarea rows="4" type="text" ng-model="creditDepositTransactionData.note" class="form-control"  placeholder='Enter note'></textarea>
                </div>
                <div class="form-group">
                    <label>Metadata <i uib-tooltip-html="'<strong>Metadata should be entered in JSON format. e.g. {&#34;Hello&#34;: &#34;World&#34;}</strong>'" class="ion-information-circled"></i></label>
                    <textarea rows="4" type="text" ng-model="creditDepositTransactionData.metadata" class="form-control"  placeholder='e.g. {"Hello" : "World"}'></textarea>
                </div>
                <div class="divider">
                    <div class="form-group">
                        <label>Status</label>
                        <select class="form-control pointer" ng-model="creditDepositTransactionData.status"
                                ng-options="status for status in creditTransactionStatus">
                        </select>
                    </div>
                </div>
            </div>
        </span>
        <a class="pointer" ng-show="showAdvancedCreditDepositOption" ng-click="toggleAdvancedCreditDepositOption()">Hide advanced options</a>
        <button ng-click="toggleConfirmTransaction()"
                ng-disabled="!creditDepositTransactionData.user ||
                 !creditDepositTransactionData.amount ||
                 !creditDepositTransactionData.currency ||
                 !creditDepositTransactionData.currency.code ||
                 !creditDepositTransactionData.account ||
                 !creditDepositTransactionData.account.name"
                class="btn dashboard-btn btn-primary pull-right">Next</button>
    </div>
</form>