<div class="modal-content">
    <div class="modal-body" style="padding-bottom: 25px;">
        <div style="display: flex; align-items:center; justify-content: center">
            <div style="width: 45%">
                <img class="img-responsive" src="../../../../assets/img/trial_expired.png"/>
            </div>
            <div style="width: 55%">
                <div style="text-align: center; padding: 0 10px">
                    <div class="divider-20" style="font-size: 2.2rem; margin: 35px 0 35px 0!important; line-height: 25px;">Your invoice has been past due for more than 14 days</div>
                    <div class="divider-20" style="line-height: 1.2;">In order to continue using the platform, please update your payment information</div>
                    <div class="rehive-plan-div" style="margin: 60px 0 50px 0">
                        <!-- <button class="btn btn-primary trial-expired-button" ng-click="$dismiss();">UPDATE BILLING INFO</button> -->
                        <button class="btn btn-primary trial-expired-button" ng-click="goToRehiveBilling();$dismiss();">MANAGE SUBSCRIPTION</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
