<div class="menu-box panel">
    <div class="panel-heading">
        <span class="user-details-panel-title">Configuring Stellar Testnet Extension</span>
    </div>
    <div class="panel-body">
        <div class="pointer divider-20 onboarding-menu-div">
        <!--<div class="pointer divider-20 onboarding-menu-div" ng-click="goToConfigView('user defaults')">-->
            <div class="company-setup-menu-navigation-div">
                <div class="menu-number" ng-class="{'setup-menu-active': currentConfigView == 'user defaults'}">
                    <span class="menu-number-text">1</span>
                </div>
            </div>
            <div class="company-setup-menu-navigation-title">User defaults</div>
        </div>

        <div class="pointer divider-20 onboarding-menu-div">
        <!--<div class="pointer divider-20 onboarding-menu-div" ng-click="goToConfigView('hotwallet warmstorage')">-->
            <div class="company-setup-menu-navigation-div">
                <div class="menu-number" ng-class="{'setup-menu-active': currentConfigView == 'hotwallet warmstorage'}">
                    <span class="menu-number-text">2</span>
                </div>
            </div>
            <div class="company-setup-menu-navigation-title">Hotwallet & Warmstorage</div>
        </div>

        <div class="pointer divider-20 onboarding-menu-div">
        <!--<div class="pointer divider-20 onboarding-menu-div" ng-click="goToConfigView('custom asset')">-->
            <div class="company-setup-menu-navigation-div">
                <div class="menu-number" ng-class="{'setup-menu-active': currentConfigView == 'custom asset'}">
                    <span class="menu-number-text">3</span>
                </div>
            </div>
            <div class="company-setup-menu-navigation-title">Custom asset (optional)</div>
        </div>
    </div>
</div>

