<div ng-hide="editingSubtype" class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">Edit subtype</h4>
    </div>
    <div class="modal-body">
        <form name="editSubtypeForm" class="custom-form" novalidate>
            <div class="form-group divider-20">
                <label>Transaction type <span class="required-icon">*</span></label>
                <br>
                <input class="form-control pointer" ng-model="editSubtype.tx_type" required disabled>
            </div>
            <div class="divider-20">
                <label class="text-subtle" style="font-weight: normal;">Usage type <span class="required-icon">*</span>&nbsp;
                    <span><i uib-tooltip-html="'This setting allows you to enforce extra limitations on how subtypes are used. Select &#8217;null&#8217; for no extra limitations. 
                        Select &#8217;single&#8217; if this subtype is only allowed when making a once-off transaction. 
                        Select &#8217;partner&#8217; if this subtype is only allowed when making a transfer transaction.'" class="ion-information-circled setup-groups-tooltip"></i></span>
                </label>
                <div class="divider-20">
                    <div class="custom-radio-groups-btn">
                        <label class="margin-right-10 pointer">
                            <input class="pointer" type="radio" ng-model="editSubtype.usageType" value="null" ng-change="subtypeChanged('usageType')">
                            <span class="custom-radio-btn">Null</span>
                        </label>
                        <label class="margin-right-10 pointer">
                            <input class="pointer" type="radio" ng-model="editSubtype.usageType" value="single" ng-change="subtypeChanged('usageType')">
                            <span class="custom-radio-btn">Single</span>
                        </label>
                        <label class="margin-right-10 pointer">
                            <input class="pointer" type="radio" ng-model="editSubtype.usageType" value="partner" ng-change="subtypeChanged('usageType')">
                            <span class="custom-radio-btn">Partner</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group divider-20">
                <label>Name <span class="required-icon">*</span></label>
                <input ng-change="subtypeChanged('name')" type="text" ng-model="editSubtype.name" class="form-control"  placeholder="Name" required>
            </div>
            <div class="form-group divider-20">
                <label>Label</label>
                <input ng-change="subtypeChanged('label')" type="text" ng-model="editSubtype.label" class="form-control"  placeholder="Label">
            </div>
            <div class="form-group">
                <label>Description</label>
                <!--<input ng-change="subtypeChanged('description')" type="text" ng-model="editSubtype.description" class="form-control"  placeholder="Description">-->
                <textarea ng-change="subtypeChanged('description')" ng-model="editSubtype.description" class="form-control"  placeholder="Enter a description for the subtype"></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default dashboard-btn pull-left" ng-click="$dismiss()">Close</button>
        <button ng-disabled="!editSubtypeForm.$valid" ng-click="updateSubtype()" class="btn btn-primary dashboard-btn pull-right">Save</button>
    </div>
</div>
<div ba-panel ng-show="editingSubtype">
    <loading-image></loading-image>
</div>