<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">Verify email</h4>
    </div>
    <div class="modal-body">
        <p class="divider">Are you sure you want to manually verify <strong>{{email.email}}</strong>
            for this user</strong></p>
        <p>By verifying this email address the transaction backlog associated to <strong>{{email.email}}</strong>
            will also be credited to this user.</p>
    </div>
    <div class="modal-footer">
        <button type="button" ng-disabled="verifyingEmail" class="btn btn-primary pull-left user-accounts-btn" ng-click="resendEmailVerification()">Resend</button>
        <button ng-click="verifyEmail()" ng-disabled="verifyingEmail" type="button" class="btn btn-primary pull-right user-accounts-btn">Verify</button>
    </div>
</div>
