<div class="panel">
    <div class="panel-heading">
        <span class="user-details-panel-title">Finish setup</span>
    </div>
    <div class="panel-body">
        <ul class="ul-no-dot divider-20">
            <li>Your Warm storage public key has been successfully added.
                Your activation funds will not reflect in your Warm storage wallet on Rehive as Rehive does not currently track retroactive transactions.</li>
            <li>Your Stellar Extension setup is now complete. Clicking on Finish below will take you to your Hot wallet.</li>
            <!--<li>Your Stellar Service setup is now complete. Clicking on Finish below will take you to your Hot wallet.</li>-->
        </ul>
        <button ng-click="goToAccountsView()" class="btn btn-primary pull-right dashboard-btn">Finish</button>
        <button ng-click="goToConfigView('warm storage')" class="btn btn-default dashboard-btn pull-right margin-right-10">Back</button>
    </div>
</div>