<h2 class="currencies-title get-started-title"><strong>Welcome to Rehive</strong></h2>
<div class="panel" style="border-radius: 8px;">
    <div class="panel-body" style="padding: 15px 25px;">
        <div class="get-started-panel">
            <div class="flex-columns get-started-icons-container"><img src="assets/img/video_tile.svg" style="width: 50px; margin-top: -15px"></div>
            <div class="flex-columns">
                <label>Welcome to Rehive</label>
                <div>Get a quick overview on how Rehive works.</div>
            </div>
            <div class="flex-columns">
                <button class="btn btn-primary get-started-buttons pull-right" ng-click="openRehiveUrl('https://www.loom.com/share/4877d8b4d0564acc9b2c985c006c284f')">Watch video</button>
            </div>
        </div>
    </div>
</div>
<div class="panel" style="border-radius: 8px;">
    <div class="panel-body" style="padding: 15px 25px;">
        <div class="get-started-panel">
            <div class="flex-columns get-started-icons-container"><img src="assets/img/video_tile.svg" style="width: 50px; margin-top: -15px"></div>
            <div class="flex-columns">
                <label>Product overview</label>
                <div>Get a quick overview of Rehive's products.</div>
            </div>
            <div class="flex-columns">
                <button class="btn btn-primary get-started-buttons pull-right" ng-click="openRehiveUrl('https://www.loom.com/share/c32da0eef9c44d1a9cd56d57834b9d30')">Watch video</button>
            </div>
        </div>
    </div>
</div>
<div class="panel" style="border-radius: 8px;">
    <div class="panel-body" style="padding: 15px 25px;">
        <div class="get-started-panel">
            <div class="flex-columns get-started-icons-container"><img src="assets/img/contact_sales.svg" style="width: 50px; margin-top: -15px"></div>
            <div class="flex-columns">
                <label>Contact sales</label>
                <div>Get in touch with us to schedule a demo or get a quote.</div>
            </div>
            <div class="flex-columns">
                <button class="btn btn-primary get-started-buttons pull-right" ng-click="openRehiveContactForm()">Contact sales</button>
            </div>
        </div>
    </div>
</div>
<div class="panel" style="border-radius: 8px;">
    <div class="panel-body" style="padding: 15px 25px;">
        <div class="get-started-panel">
            <div class="flex-columns get-started-icons-container"><img src="assets/img/demo_rsvp4.svg" style="width: 50px; margin-top: -15px"></div>
            <div class="flex-columns">
                <label>Weekly demo sessions</label>
                <div>Join our weekly demo session to keep up with the latest features.</div>
            </div>
            <div class="flex-columns">
                <button class="btn btn-primary get-started-buttons pull-right" ng-click="openRehiveDemoSessions()">RSVP</button>
            </div>
        </div>
    </div>
</div>
<div class="panel" style="border-radius: 8px;">
    <div class="panel-body" style="padding: 15px 25px;">
        <div class="get-started-panel">
            <div class="flex-columns get-started-icons-container"><img src="assets/img/chat_to_us.svg" style="width: 50px; margin-top: -15px"></div>
            <div class="flex-columns">
                <label>Management and training</label>
                <div>Learn how to manage your users and business. Rehive offers training and support to help you manage users, operations and accounts.</div>
            </div>
            <div class="flex-columns">
                <button class="btn btn-primary get-started-buttons pull-right" ng-click="openIntercomm()">Chat to us</button>
            </div>
        </div>
    </div>
</div>
<div class="panel" style="border-radius: 8px;">
    <div class="panel-body" style="padding: 15px 25px;">
        <div class="get-started-panel">
            <div class="flex-columns get-started-icons-container"><img src="assets/img/video_tile.svg" style="width: 50px; margin-top: -15px"></div>
            <div class="flex-columns">
                <label>How do I go live?</label>
                <div>Ready to go? Watch this video to learn how to go live and get your app into production.</div>
            </div>
            <div class="flex-columns">
                <!-- <button class="btn btn-primary get-started-buttons pull-right" ng-click="openRehiveUrl('')">Watch video</button> -->
                <div class="pull-right" style="width: 95px; height: 10px;">
                    <span class="get-started-text">Coming soon</span>
                </div>
            </div>
        </div>
    </div>
</div>