<div ng-hide="loadingUserNumbers" class="panel">
    <div class="panel-heading">
        <span class="user-details-panel-title">Edit user number</span>
        <a ng-click="$dismiss()" class="panel-modal-close-icon pull-right pointer">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </a>
    </div>
    <div class="panel-body">
        <form name="userNumberForm" class="custom-form" novalidate>
            <div class="form-group">
                <label>Number <span class="required-icon">*</span></label>
                <input type="text" ng-model="editUserNumberObj.number" class="form-control"  placeholder="Enter number" disabled>
            </div>
            <div class="form-group">
                <label>Verified</label>
                <br>
                <input class="custom-rehive-checkbox" ng-model="editUserNumberObj.verified" type="checkbox" disabled>
            </div>
            <div class="form-group">
                <label>Primary</label>
                <br>
                <input class="custom-rehive-checkbox" ng-model="editUserNumberObj.primary" type="checkbox">
            </div>
            <div class="form-group">
                <button ng-disabled="!userNumberForm.$valid" ng-click="editUserNumber(editUserNumberObj)" class="btn btn-primary pull-right user-accounts-btn">Save</button>
                <button ng-click="$dismiss()" class="btn btn-default dashboard-btn pull-left user-accounts-btn">Close</button>
            </div>
        </form>
    </div>
</div>
<div ba-panel ng-show="loadingUserNumbers">
    <loading-image></loading-image>
</div>