<div class="panel table-filters"
     ng-class="{'wider-table-filters': ((filtersObj.dateFilter && applyFiltersObj.dateFilter.selectedDateOption == 'In between')
     || (filtersObj.referenceFilter && applyFiltersObj.referenceFilter.selectedReferenceOption == 'Is between'))}">
    <div class="panel-heading">
        <div class="table-filter-heading">
            <span class="user-details-panel-title pull-left">Create filter</span>
            <button ng-click="getWebhooks('applyFilter')" class="btn btn-primary pull-right">Done</button>
            <button ng-click="clearFilters()" class="btn btn-default pull-right clear-filter-btn">Clear</button>
        </div>
    </div>
    <div class="panel-body">
        <div id="filterEvent">
            <div>
                <label class="checkbox-inline custom-checkbox nowrap">
                    <input type="checkbox" ng-model="filtersObj.eventFilter">
                    <span>Event</span>
                </label>
            </div>
            <div ng-if="filtersObj.eventFilter" class="row divider-top-6">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 date-filter-view">
                    <select class="form-control pointer currencies-unit-filter" ng-model="applyFiltersObj.eventFilter.selectedEventOption"
                            ng-options="event for event in eventOptions">
                    </select>
                </div>
            </div>
        </div>
        <div id="filterUrl">
            <div>
                <label class="checkbox-inline custom-checkbox nowrap">
                    <input type="checkbox" ng-model="filtersObj.urlFilter">
                    <span>Url</span>
                </label>
            </div>
            <div ng-if="filtersObj.urlFilter" class="row divider-top-6">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 date-filter-view">
                    <input type="text" ng-model="applyFiltersObj.urlFilter.selectedUrlOption"
                           auto-focus="filtersObj.urlFilter"
                           placeholder="Enter url" class="transaction-id-input">
                </div>
            </div>
        </div>
        <div id="filterSecret">
            <div>
                <label class="checkbox-inline custom-checkbox nowrap">
                    <input type="checkbox" ng-model="filtersObj.secretFilter">
                    <span>Secret</span>
                </label>
            </div>
            <div ng-if="filtersObj.secretFilter" class="row divider-top-6">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 date-filter-view">
                    <input type="text" ng-model="applyFiltersObj.secretFilter.selectedSecretOption"
                           auto-focus="filtersObj.secretFilter"
                           placeholder="Enter secret" class="transaction-id-input">
                </div>
            </div>
        </div>
    </div>
</div>