<div ba-panel class="service-header menu-box" ba-panel-class="light-text">
    <hr class="no-margin">
    <div ng-click="setAppConfigView('accounts')"
         ng-class="{'selected-settings-menu': appConfigView === 'accounts' }"
         class="pointer menu-box-options">
        <h5>Accounts <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    
    <hr class="no-margin">
    <div ng-click="setAppConfigView('actions')"
         ng-class="{'selected-settings-menu': appConfigView === 'actions' }"
         class="pointer menu-box-options">
        <h5>Actions <i class="pull-right ion-chevron-right"></i></h5>
    </div>

    <hr class="no-margin">
    <div ng-click="setAppConfigView('auth')"
         ng-class="{'selected-settings-menu': appConfigView === 'auth' }"
         class="pointer menu-box-options">
        <h5>Auth <i class="pull-right ion-chevron-right"></i></h5>
    </div>

    <hr class="no-margin">
    <div ng-click="setAppConfigView('colors')"
         ng-class="{'selected-settings-menu': appConfigView === 'colors' }"
         class="pointer menu-box-options">
        <h5>Colors <i class="pull-right ion-chevron-right"></i></h5>
    </div>

    <hr class="no-margin">
    <div ng-click="setAppConfigView('content')"
         ng-class="{'selected-settings-menu': appConfigView === 'content' }"
         class="pointer menu-box-options">
        <h5>Content <i class="pull-right ion-chevron-right"></i></h5>
    </div>

    <hr class="no-margin">
    <div ng-click="setAppConfigView('settings')"
         ng-class="{'selected-settings-menu': appConfigView === 'settings' }"
         class="pointer menu-box-options">
        <h5>General settings <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
</div>
