h1.al-title {
  font-weight: $font-normal;
  color: $default-text;
  width: auto;
  padding: 0;
  margin: 4px 0 4px 0;
  font-size: 22px;
}

.al-breadcrumb {
  background: none;
  color: $default-text;
  padding: 0;
  margin: 0;
  float: right;
  padding-top: 1px;
  li {
    font-size: 18px;
    font-weight: $font-normal;
  }
}

.al-look {
  float: right;
  margin-right: 10px;
  padding-top: 10px;
  > a {
    font-size: 19px;
  }
}