<div ng-hide="updatingGeneralSettings">
    <div class="panel">
        <div class="panel-heading">
            <span class="user-details-panel-title">Settings</span>
        </div>
        <div class="panel-body">
            <form name="productSettingsForm" class="custom-form" novalidate>
                <div class="form-group">
                    <label>Allowed manager groups &nbsp;
                        <i uib-tooltip-html="'Set which groups are allowed to be product managers.'"
                            class="ion-information-circled setup-groups-tooltip"></i>
                    </label>
                    <div class="reward-multi-select">
                        <select chosen
                                multiple
                                data-placeholder-text-multiple="'Choose one or more groups'"
                                width="100"
                                ng-model="productExtensionSettings.manager_groups" 
                                ng-change="trackUpdatedProductSetting('manager_groups')"
                                ng-options="group.name for group in groupsList | orderBy: 'name' track by group.name">
                            <option value=""></option>
                        </select>
                    </div>
                </div>            
                <div class="form-group">
                    <button  ng-click="updateProductExtensionSettings()" class="btn btn-primary btn-primary-dark dashboard-btn pull-right" ng-disabled="!productSettingsForm.$valid">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div ng-show="updatingGeneralSettings" class="row">
    <div ba-panel class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <loading-image></loading-image>
    </div>
</div>
