<div style="padding: 0px 40px;" style="border-radius: 20px!important;">
    <welcome-to-rehive ng-hide="inTestingSandboxTutorial"></welcome-to-rehive>
    <system-configurations ng-hide="inTestingSandboxTutorial"></system-configurations>
    <operational-configurations ng-hide="inTestingSandboxTutorial"></operational-configurations>
    <testing-sandbox></testing-sandbox>
    <rehive-faq ng-hide="inTestingSandboxTutorial"></rehive-faq>
</div>

<!-- <div>
    <div ng-hide="inTestingSandboxTutorial">
        <h1 class="currencies-title get-started-title">Get started</i></h1>
        <div class="panel">
            <div class="panel-body">
                <div class="get-started-panel">
                    <div class="flex-columns get-started-icons-container"><i class='fas fa-2x fa-wallet'></i></div>
                    <div class="flex-columns">
                        <label>Try the web wallet</label>
                        <div>See how your-end users experience your business and interact with your company via the web wallet.</div>
                    </div>
                    <div class="flex-columns">
                        <button class="btn btn-primary get-started-buttons" ng-click="goToTestingSandboxVideos()">Try wallet</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-body">
                <div class="get-started-panel">
                    <div class="flex-columns get-started-icons-container"><i class="fas fa-2x fa-cogs"></i></div>
                    <div class="flex-columns">
                        <label>Management</label>
                        <div>Learn how to manage your users and business. Rehive offers training and support to help you manage users, operations and accounts.</div>
                    </div>
                    <div class="flex-columns">
                        <button class="btn btn-primary get-started-buttons" ng-click="openIntercomm()">Chat to us</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-body">
                <div class="get-started-panel">
                    <div class="flex-columns get-started-icons-container"><i class="fas fa-2x fa-file"></i></div>
                    <div class="flex-columns">
                        <label>Standard configurations</label>
                        <div>Not sure how to set up your project? Read Rehive's recommended standard configuration guidelines.</div>
                    </div>
                    <div class="flex-columns">
                        <button class="btn btn-primary get-started-buttons" ng-click="openRehiveConfigDocs()">Learn more</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-body">
                <div class="get-started-panel">
                    <div class="flex-columns get-started-icons-container"><i class="fa fa-2x fa-briefcase"></i></div>
                    <div class="flex-columns">
                        <label>Business cases</label>
                        <div>Learn how you can use Rehive's white label solutions and fintech templates.</div>
                    </div>
                    <div class="flex-columns">
                        <button class="btn btn-primary get-started-buttons" ng-click="openBusinessCases()">Learn more</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-body">
                <div class="get-started-panel">
                    <div class="flex-columns get-started-icons-container get-started-icon"><i class="fa fa-2x fa-envelope"></i></div>
                    <div class="flex-columns">
                        <label>Contact sales</label>
                        <div>Get in touch with us to schedule a demo or get a quote.</div>
                    </div>
                    <div class="flex-columns">
                        <button class="btn btn-primary get-started-buttons" ng-click="openRehiveContactForm()">Contact</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->