<notification-service-navigation></notification-service-navigation>
<div ng-hide="loadingLogs" class="panel">
    <div class="panel-heading">
        <span class="user-details-panel-title">Notification logs</span>
    </div>
    <div class="panel-body">
        <div ng-show="notificationLogs.length > 0" class="divider">
            <table class="table custom-table">
                <tr>
                    <th>Recipient</th>
                    <th>Notification</th>
                    <th>Sent</th>
                    <!--<th>Subject</td>-->
                    <th>Created</th>
                    <th></th>
                </tr>
                <tr ng-repeat="log in notificationLogs | orderBy: '-created' track by $index" ng-click="openNotificationServiceLogsModal('app/pages/services/notificationService/notificationServiceLogs/notificationServiceLogsModal/notificationServiceLogsModal.html', 'md',log)"
                    class="editable-row pointer user-details-table-hover">
                    <td class="transactions-list-element" title="{{log.recipient}}" ng-bind="log.recipient"></td>
                    <td class="transactions-list-element" title="{{log.notification}}" ng-bind="log.notification"></td>
                    <td class="transactions-list-element" title="{{log.sent | capitalizeWord}}" ng-bind="log.sent |capitalizeWord"></td>
                    <!--<td class="transactions-list-element" title="{{log.subject}}" ng-bind="log.subject"></td>-->
                    <td class="transactions-list-element" title="{{log.created | date:'mediumDate'}} {{log.created | date:'shortTime'}}">
                        {{log.created | date:'mediumDate'}} {{log.created | date:'shortTime'}}</td>
                    <td ng-click="$event.stopPropagation()">
                        <a ng-click="openNotificationServiceLogsResendModal('app/pages/services/notificationService/notificationServiceLogs/notificationServiceLogsResendModal/notificationServiceLogsResendModal.html','md',log)"
                           class="pull-right pointer">Resend</a>
                    </td>
                </tr>
            </table>
            <div>
                <p uib-pagination boundary-links="true" items-per-page="pagination.itemsPerPage"  total-items="notificationLogsData.count" ng-model="pagination.pageNo"
                   max-size="pagination.maxSize" class="pagination-sm pull-right transaction-history-pagination" force-ellipses="true" ng-change="getNotificationLogs()"
                   previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></p>
            </div>
        </div>
        <div ng-show="notificationLogs.length == 0 && !loadingLogs">
            <i>No logs available to be shown</i>
        </div>
    </div>
</div>
<div ba-panel class="service-header" ng-show="loadingLogs" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <loading-image></loading-image>
</div>