<div class="panel table-filters">
    <div class="panel-heading">
        <div class="table-filter-heading">
            <span class="user-details-panel-title pull-left">Create filter</span>
            <button ng-click="getCompanyCurrencies()" class="btn btn-primary pull-right">Done</button>
            <button ng-click="clearFilters()" class="btn btn-default pull-right clear-filter-btn">Clear</button>
        </div>
    </div>
    <div class="panel-body">
        <i style="font-size: 14px">Filtering services is not available yet</i>
        <!--<div id="filterCurrency">-->
            <!--<div>-->
                <!--<label class="checkbox-inline custom-checkbox nowrap">-->
                    <!--<input type="checkbox" ng-model="filtersObj.currencyFilter">-->
                    <!--<span>Currency</span>-->
                <!--</label>-->
            <!--</div>-->
            <!--<div ng-if="filtersObj.currencyFilter" class="row divider-top-6">-->
                <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 date-filter-view">-->
                    <!--<select class="form-control pointer" ng-model="applyFiltersObj.currencyFilter.selectedCurrencyOption"-->
                            <!--ng-options="currency.code for currency in currencyOptions track by currency.code">-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div id="filterUnit">-->
            <!--<div>-->
                <!--<label class="checkbox-inline custom-checkbox nowrap">-->
                    <!--<input type="checkbox" ng-model="filtersObj.unitFilter">-->
                    <!--<span>Unit</span>-->
                <!--</label>-->
            <!--</div>-->
            <!--<div ng-if="filtersObj.unitFilter" class="row divider-top-6">-->
                <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 date-filter-view">-->
                    <!--<select class="form-control pointer" ng-model="applyFiltersObj.unitFilter.selectedCurrencyOption"-->
                            <!--ng-options="currency.unit for currency in currencyOptions track by currency.unit">-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>