<div ba-panel class="service-header menu-box" ba-panel-class="light-text">
    <!--<div class="menu-hex-container">-->
        <!--<div class="hexagon"></div>-->
        <!--<div class="hex-over">&nbsp;</div>-->
    <!--</div>-->
    <hr class="no-margin">
    <div ng-class="{'selected-settings-menu': bitcoinAccountSettingView == 'hotwallet' }"
         ng-click="goToBitcoinAccountSetting('hotwallet')" class="pointer menu-box-options">
        <h5>Hot wallet<i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-class="{'selected-settings-menu': bitcoinAccountSettingView == 'warmstorage' }"
         ng-click="goToBitcoinAccountSetting('warmstorage')" class="pointer menu-box-options">
        <h5>Warm storage<i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-class="{'selected-settings-menu': bitcoinAccountSettingView == 'coldstorage' }"
         ng-click="goToBitcoinAccountSetting('coldstorage')" class="pointer menu-box-options">
        <h5>Cold storage<i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
</div>
