<div ba-panel class="menu-box" ba-panel-class="light-text">
    <hr class="no-margin">
    <div ng-click="goToGroupManagementTiersSettings('list')" class="pointer menu-box-options"
         ng-class="{'group-tier-menu-selection': subMenuLocation == 'list'}">
        <h5>Tiers <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToGroupManagementTiersSettings('requirements')" class="pointer menu-box-options"
         ng-class="{'group-tier-menu-selection': subMenuLocation == 'requirements'}">
        <h5>Tier requirements <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
</div>