<h2 class="currencies-title get-started-title" style="margin-top: 36px;"><strong>System configurations</strong></h2>
<div class="panel" style="border-radius: 8px;">
    <div class="panel-body" style="padding: 15px 25px;">
        <div class="get-started-panel">
            <div class="flex-columns get-started-icons-container"><img src="assets/img/video_tile.svg" style="width: 50px; margin-top: -15px"></div>
            <div class="flex-columns">
                <label>Configurations overview</label>
                <div>Get a quick overview of how things fit together.</div>
            </div>
            <div class="flex-columns">
                <button class="btn btn-primary get-started-buttons pull-right" ng-click="openRehiveUrl('https://www.loom.com/share/4b5ca61b24774b3da464f5388f90e5c4')">Watch video</button>
            </div>
        </div>
    </div>
</div>
<div class="panel" style="border-radius: 8px;">
    <div class="panel-body" style="padding: 15px 25px;">
        <div class="get-started-panel">
            <div class="flex-columns get-started-icons-container"><img src="assets/img/article.svg" style="width: 50px; margin-top: -15px"></div>
            <div class="flex-columns">
                <label>Standard configurations document</label>
                <div>Read more about out standard configurations.</div>
            </div>
            <div class="flex-columns">
                <button class="btn btn-primary get-started-buttons pull-right" ng-click="openStandardConfigDocumentation()">View</button>
            </div>
        </div>
    </div>
</div>