<div class="panel table-filters">
    <div class="panel-heading">
        <div class="table-filter-heading">
            <span class="user-details-panel-title pull-left">Create filter</span>
            <button ng-click="getQuotesList('applyFilter')" class="btn btn-primary pull-right">Done</button>
            <button ng-click="clearQuotesFilters()" class="btn btn-default pull-right clear-filter-btn">Clear</button>
        </div>
    </div>
    <div class="panel-body">
        <div id="filterQuoteID">
            <div>
                <label class="checkbox-inline custom-checkbox nowrap">
                    <input type="checkbox" ng-model="filtersObj.quoteIdFilter">
                    <span>Quote id</span>
                </label>
            </div>
            <div ng-if="filtersObj.quoteIdFilter" class="row divider-top-6">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 date-filter-view">
                    <input type="text" ng-model="applyFiltersObj.quoteIdFilter.selectedQuoteId"
                           auto-focus="filtersObj.quoteIdFilter"
                           placeholder="Enter quote id" class="transaction-id-input">
                </div>
            </div>
        </div>
        <div id="filterFromCurrencyCode">
            <div>
                <label class="checkbox-inline custom-checkbox nowrap">
                    <input type="checkbox" ng-model="filtersObj.fromCurrencyCodeFilter">
                    <span>From currency code</span>
                </label>
            </div>
            <div ng-if="filtersObj.fromCurrencyCodeFilter" class="row divider-top-6">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 date-filter-view">
                    <select class="form-control pointer" ng-model="applyFiltersObj.fromCurrencyCodeFilter.selectedFromCurrencyCode"
                            ng-options="currency.code for currency in currencyOptions | orderBy: 'code' track by currency.code">
                    </select>
                </div>
            </div>
        </div>
        <div id="filterToCurrencyCode">
            <div>
                <label class="checkbox-inline custom-checkbox nowrap">
                    <input type="checkbox" ng-model="filtersObj.toCurrencyCodeFilter">
                    <span>To currency code</span>
                </label>
            </div>
            <div ng-if="filtersObj.toCurrencyCodeFilter" class="row divider-top-6">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 date-filter-view">
                    <select class="form-control pointer" ng-model="applyFiltersObj.toCurrencyCodeFilter.selectedToCurrencyCode"
                            ng-options="currency.code for currency in currencyOptions | orderBy: 'code' track by currency.code">
                    </select>
                </div>
            </div>
        </div>
        <div id="filterPageSize">
            <div>
                <label class="checkbox-inline custom-checkbox nowrap">
                    <input type="checkbox" ng-model="filtersObj.pageSizeFilter">
                    <span>Page size</span>
                </label>
            </div>
            <div ng-if="filtersObj.pageSizeFilter" class="row divider-top-6">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 date-filter-view">
                    <input type="text" ng-model="pagination.itemsPerPage" ng-change="pageSizeChanged()"
                           auto-focus="filtersObj.pageSizeFilter"
                           placeholder="Enter page size" class="transaction-page-size-input">
                </div>
            </div>
        </div>
    </div>
</div>