<div ng-hide="loadingAdminEmails">
    <div class="panel">
        <div class="panel-heading">
            <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
                <em class="ion-ios-close-empty sn-link-close"></em>
            </button>
            <span class="user-details-panel-title">Add email</span>
        </div>
        <div class="panel-body">
            <form name="emailForm" class="custom-form" novalidate>
                <div class="form-group">
                    <label>Email <span class="required-icon">*</span></label>
                    <input type="text" ng-model="newEmail.email" class="form-control"  placeholder="Name" required  auto-focus="addingEmail">
                </div>
                <div class="form-group">
                    <label>Primary</label>
                    <br>
                    <input class="custom-rehive-checkbox" ng-model="newEmail.primary" type="checkbox">
                </div>
                <div class="form-group">
                    <button ng-disabled="!emailForm.$valid" ng-click="createEmail(newEmail)" class="btn btn-primary dashboard-btn pull-right">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>