<div ng-hide="updatingDonationRecipient" class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">Edit donation recipient</h4>
    </div>
    <div class="modal-body">
        <form name="editDonateRecipientForm" class="custom-form">
            <div class="form-group divider-20">
                <label>Name&nbsp;<span class="required-icon">*</span></label>
                <input type="text" class="form-control" ng-model="editRecipientParams.name" placeholder="Enter recipient name" required/>
            </div>
            <div class="form-group divider-20">
                <label class="tier-fees-tooltip">Profile</label>
                <textarea rows="4" class="form-control" style="height: 125px!important;" ng-model="editRecipientParams.profile"
                placeholder="Add a link to the recipient's online profile."></textarea>
            </div>
            <div class="form-group divider-20">
                <label>Email</label>
                <input type="text" class="form-control" ng-model="editRecipientParams.email" placeholder="Enter recipient email" />
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default dashboard-btn pull-left" ng-click="$dismiss()">Close</button>
        <button ng-click="updateDonationRecipient()" ng-disabled="!editDonateRecipientForm.$valid" class="btn btn-primary dashboard-btn pull-right">Save</button>
    </div>
</div>
<div ba-panel ng-show="updatingDonationRecipient">
    <loading-image></loading-image>
</div>
