<div ba-panel class="service-header menu-box" ba-panel-class="light-text">
    <!--<div class="menu-hex-container">-->
        <!--<div class="hexagon"></div>-->
        <!--<div class="hex-over">&nbsp;</div>-->
    <!--</div>-->
    <hr class="no-margin">
    <div ng-click="goToIcoSetting('company')" class="pointer menu-box-options">
        <h5>Company info <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToIcoSetting('secret')" class="pointer menu-box-options">
        <h5>Secret <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToIcoSetting('webhooks')" class="pointer menu-box-options">
        <h5>Webhooks <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
</div>
