<div ba-panel class="menu-box" ba-panel-class="light-text">
    <hr class="no-margin">
    <div ng-click="goToGroupManagementTransactionSettings('group-controls')" class="pointer menu-box-options"
         ng-class="{'group-tier-menu-selection': subMenuLocation == 'group-controls'}">
        <h5>Group subtype controls <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToGroupManagementTransactionSettings('tier-controls')" class="pointer menu-box-options"
         ng-class="{'group-tier-menu-selection': subMenuLocation == 'tier-controls'}">
        <h5>Tier subtype controls <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToGroupManagementTransactionSettings('fees')" class="pointer menu-box-options"
         ng-class="{'group-tier-menu-selection': subMenuLocation == 'fees'}">
        <h5>Fee controls <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToGroupManagementTransactionSettings('limits')" class="pointer menu-box-options"
         ng-class="{'group-tier-menu-selection': subMenuLocation == 'limits'}">
        <h5>Limit controls <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
</div>