<div ng-hide="creatingSendOnHotwallet">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
                <em class="ion-ios-close-empty sn-link-close"></em>
            </button>
            <h4 class="modal-title" id="myModalLabel">Create withdraw on hotwallet</h4>
        </div>
        <div class="modal-body">
            <form class="custom-form" name="createHotwalletSend" novalidate>
                <div class="form-group divider-20">
                    <label>Recipient reference&nbsp;<span class="required-icon">*</span></label>
                    <input class="form-control" ng-model="hotwalletParams.to_reference" placeholder="enter a valid Bitcoin public address" required>
                </div>                
                <div class="form-group divider-20">
                    <label>Currency&nbsp;<span class="required-icon">*</span></label>
                    <span>{{sendCurrency.currency.code}}</span>
                </div>
                <div class="form-group divider-20">
                    <label>Amount&nbsp;<span class="required-icon">*</span></label>
                    <input type="number" min="0" class="form-control" ng-model="hotwalletParams.amount" placeholder="enter amount to send" required>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default dashboard-btn pull-left" ng-click="$dismiss()">Close</button>
            <button ng-click="createHotwalletWithdrawal()"
                    ng-disabled="!createHotwalletSend.$valid || creatingSendOnHotwallet"
                    type="button" class="btn btn-primary dashboard-btn pull-right">Send</button>
        </div>
    </div>
</div>
<div ba-panel ng-show="creatingSendOnHotwallet">
    <loading-image></loading-image>
</div>