<div class="auth-main">
    <div class="auth-block text-center">
        <h1 class="auth-header">Dashboard log in</h1>
        <form class="form-horizontal">
          <div ng-keydown="($event.keyCode === 13) && login(login.user,login.company,login.password)">
            <div class="row form-group">
                <div class="col-sm-12">
                    <label><span class="pull-left login-labels">Company id</span></label>
                    <input type="text" name="company" ng-model="login.company" class="form-control" ng-change="login.company = login.company.toLowerCase()"
                               id="inputCompany1" placeholder="e.g. blue_coffee" auto-focus="!gotCompanyName">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12">
                    <label><span class="pull-left login-labels">Email</span></label>
                    <input type="text" ng-model="login.user" class="form-control" id="inputEmail1"
                           name="email" placeholder="e.g. hello@moxey.ai" auto-focus="gotCompanyName">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12">
                    <label><span class="pull-left login-labels">Password</span></label>
                    <input ng-attr-type="{{ showLoginPassword ? 'text' : 'password' }}" ng-model="login.password"
                           name="password" class="form-control" id="inputPassword1" placeholder="Please enter your password">
                    <i ng-click="toggleLoginPassword()" ng-show="showLoginPassword" class="fa fa-eye-slash pull-right register-password-icon pointer"></i>
                    <i ng-click="toggleLoginPassword()" ng-hide="showLoginPassword" class="fa fa-eye pull-right register-password-icon-show pointer"></i>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12">
                    <button ng-click="login(login.user,login.company,login.password)" 
                        class="btn btn-lg btn-primary btn-auth pull-right">Log in</button>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12">
                    <a href="/#/password/reset" class="forgot-pass pull-left">Forgot password?</a>
                </div>
            </div>
          </div>
        </form>

    </div>
</div>