<div class="panel table-filters">
    <div class="panel-heading">
        <div class="table-filter-heading">
            <span class="user-details-panel-title pull-left">Create filter</span>
            <button ng-click="getGroups()" class="btn btn-primary pull-right">Done</button>
            <button ng-click="clearGroupFilters()" class="btn btn-default pull-right clear-filter-btn">Clear</button>
        </div>
    </div>
    <div class="panel-body">
        <div id="nameFilter">
            <div>
                <label class="checkbox-inline custom-checkbox nowrap">
                    <input type="checkbox" ng-model="filtersObj.nameFilter">
                    <span>Group name</span>
                </label>
            </div>
            <div ng-if="filtersObj.nameFilter" class="row divider-top-6">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 date-filter-view">
                    <select class="form-control currencies-unit-filter pointer" ng-model="applyFiltersObj.nameFilter.selectedGroup"
                            ng-options="group.name for group in groupOptions | orderBy: 'name'">
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>