<div ng-hide="loadingSmsAuth" class="auth-main">
    <div class="auth-block text-center">
        <h1>Enable SMS authentication</h1>
        <div class="row verification-btn-box">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-class="{'divider': numberFromGetCall,'divider-20': !numberFromGetCall}">
                <input auto-focus="focusElemName === 'smsAuthInput'" name="smsAuthInput" class="form-control divider" type="text" ng-model="smsAuthObj.mobile"
                 placeholder="Enter valid mobile number e.g. +8801703843242">
                <button ng-disabled="!smsAuthObj.mobile" class="btn btn-primary btn-auth" ng-click="postSmsAuthNumber()">Save</button>
            </div>
            <div ng-show="numberFromGetCall" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-class="{'divider-20': numberFromGetCall,'divider': !numberFromGetCall}">
                <button class="btn btn-danger btn-auth" ng-click="deleteSmsAuthNumber()">Delete</button>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <a class="pull-left" href="/#/authentication/multi-factor">Back</a>
            </div>
        </div>
    </div>
</div>
<div ng-show="loadingSmsAuth" class="auth-main">
    <div class="auth-block text-center">
        <loading-image></loading-image>
    </div>
</div>