<div class="auth-main">
    <div class="auth-block">
        <h1>Password reset</h1>
        <i class="reset-note">Forgotten your password? Enter your email address and company below, and we'll send you an email allowing you to reset it.</i>
        <form class="form-horizontal">
            <div class="row form-group">
                <div class="col-sm-12">
                    <select class="form-control pointer custom-select" ng-model="company"
                            ng-options="option for option in companyOptions"
                            ng-init="company = 'moxey_test'" id="inputCompany1">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="email" ng-model="user" class="form-control" id="inputEmail1" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <button ng-click="resetPasswordFunction(user,company)" class="btn btn-primary btn-auth pull-right divider">Reset</button>
                </div>
            </div>
        </form>

    </div>
</div>