<div ng-hide="deletingDocument" class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">Delete document</h4>
    </div>
    <div class="modal-body">
        <p class="divider">
            <span class="text-subtle">Document type:</span> {{document.document_type | capitalizeWord}}
        </p>
    </div>
    <div class="modal-footer">
        <!--<button type="button" class="btn btn-default dashboard-btn pull-left" ng-click="$dismiss()">Close</button>-->
        <button ng-click="deleteDocumentPrompt()" ng-disabled="deletingDocument" type="button"
                class="btn btn-danger delete-button pull-right margin-left-12">Delete permanently</button>
        <button ng-click="archiveDocument()" ng-disabled="document.archived"
                ng-class="{'btn-primary': !document.archived,'btn-gray': document.archived}"
                type="button" class="btn dashboard-btn pull-right">Archive</button>
    </div>
</div>
<div ba-panel ng-show="deletingDocument">
    <loading-image></loading-image>
</div>
