<div ng-hide="loadingUserDocuments" class="panel">
    <div class="panel-heading">
        <span class="user-details-panel-title">Documents</span>
        <a ng-click="openAddUserDocumentModal('app/pages/users/user/userDetails/userDocuments/addUserDocumentModal/addUserDocumentModal.html','lg')"
           class="user-details-panel-link pull-right pointer">Add document</a>
    </div>
    <div class="panel-body">
        <table ng-show="userDocuments.length > 0" class="table custom-table">
            <tr>
                <th>Date created</th>
                <th>Category</th>
                <th>Type</th>
                <th></th>
                <th></th>
            </tr>
            <tr class="editable-row center pointer user-details-table-hover"
                ng-repeat="document in userDocuments track by $index" ng-click="openUserDocumentModal('app/pages/users/user/userDetails/userDocuments/userDocumentModal/userDocumentModal.html',document)">
                <td>{{document.created | date:'mediumDate'}} {{document.created | date:'shortTime'}}</td>
                <td>{{document.document_category}}</td>
                <td>
                    {{document.document_type}}
                    <span ng-show="document.hasExpired">&nbsp;
                        <i tooltip-class="duplicate-transction-tooltip" uib-tooltip-html="'Document has expired!'" 
                        class="ion-information-circled setup-groups-tooltip duplicate-transaction"></i>
                    </span>
                </td>
                <td class="pull-right">
                    <span ng-class="{'status-pending': document.status == 'pending','status-verified': document.status == 'verified',
                        'status-incomplete-declined': document.status == 'incomplete' || document.status == 'declined' || document.status == 'obsolete'}"
                        class="user-address-status">{{document.status | uppercase}}
                    </span>
                </td>
                <td class="pull-right">
                    <span ng-show="document.archived" class="user-address-status status-pending">ARCHIVED</span>
                </td>
            </tr>
        </table>
        <div ng-show="userDocuments.length == 0 && !loadingUserDocuments">
            <i>No documents are available</i>
        </div>
    </div>
</div>
<div ba-panel ng-show="loadingUserDocuments">
    <loading-image></loading-image>
</div>