<page-top></page-top>
<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <demo-company-setup></demo-company-setup>
</div> -->
<div class="auth-main">
    <div class="auth-block register" style="margin-top: -10px;">
        <div class="registration-block-header">
            <h1 class="auth-header" style="text-align: center;">Register</h1>
        </div>
        <!-- <hr> -->
        <form name="registerForm" id="registerForm" class="form-horizontal">
            <div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label>
                            <span class="pull-left login-labels">App ID&nbsp;
                                <span class="required-symbol">*</span>&nbsp;
                                <span><i uib-tooltip-html="'A unique ID used to identify and log in to your app and Dashboard. 
                                    Save this ID, as you will need it every time you log in. It should be all in lowercase 
                                    and cannot contain any spaces or special characters.'" 
                                    class="ion-information-circled setup-groups-tooltip"></i>
                                </span>
                            </span>
                            <span ng-show="invalidCompanyIdData" class="register-error-message pull-right">Please enter a valid app ID.</span>
                        </label>
                        <input type="text" ng-blur="validateCompanyId()" ng-change="fixformat(company)" ng-model="registerData.company"
                               ng-class="{'invalid-data': invalidCompanyIdData}" ng-change="invalidCompanyIdData = false"
                               class="form-control" id="inputName1" placeholder="Choose a unique ID for your app" auto-focus="true" required>
                    </div>
                </div>               
                <div class="form-group">
                    <div class="col-sm-12">
                        <label>
                            <span class="pull-left login-labels">Email&nbsp;<span class="required-symbol">*</span></span>
                            <span ng-show="invalidEmailData" class="register-error-message pull-right">Please enter a valid email address.</span>
                        </label>
                        <input type="text" ng-blur="validateCompanyEmail()" ng-model="registerData.email" class="form-control"
                               ng-class="{'invalid-data': invalidEmailData}" ng-change="invalidEmailData = false"
                               id="inputEmail1" placeholder="e.g. jane@moxey.ai" required>
                    </div>
                </div>
                <div class="form-group">
                    <div style="height: 68px;" class="col-sm-12">
                        <label><span class="pull-left login-labels">Password&nbsp;<span class="required-symbol">*</span></span></label>
                        <input ng-attr-type="{{ showPassword1 ? 'text' : 'password' }}"
                               style="height: 46px;"
                               ng-model="registerData.password1"
                               class="form-control" id="inputPassword1" placeholder="Please choose a password (min. length 8 characters)" required>
                        <i ng-click="togglePasswordVisibility1()" ng-show="showPassword1" class="fa fa-eye-slash pull-right register-password-icon pointer"></i>
                        <i ng-click="togglePasswordVisibility1()" ng-hide="showPassword1" class="fa fa-eye pull-right register-password-icon-show pointer"></i>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button ng-disabled="!registerForm.$valid" ng-click="registerUser()" 
                        class="btn btn-primary btn-auth pull-right divider">Register</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>