<h2 class="currencies-title get-started-title" style="margin-top: 36px;"><strong>Operational configurations</strong></h2>
<div class="panel" style="border-radius: 8px;">
    <div class="panel-body" style="padding: 15px 25px;">
        <div class="get-started-panel">
            <div class="flex-columns get-started-icons-container"><img src="assets/img/video_tile.svg" style="width: 50px; margin-top: -15px"></div>
            <div class="flex-columns">
                <label>Operational configurations overview</label>
                <div>Get a quick overview of how things fit together.</div>
            </div>
            <div class="flex-columns">
                <button class="btn btn-primary get-started-buttons pull-right" ng-click="openRehiveUrl('https://www.loom.com/share/1dfff4fe2426414ba1496ec7f6ee84dd')">Watch video</button>
            </div>
        </div>
    </div>
</div>
<div class="panel" style="border-radius: 8px;">
    <div class="panel-body" style="padding: 15px 25px;">
        <div class="get-started-panel">
            <div class="flex-columns get-started-icons-container"><img src="assets/img/video_tile.svg" style="width: 50px; margin-top: -15px"></div>
            <div class="flex-columns">
                <label>Fund operational accounts</label>
                <div>Follow these steps to fund your operational accounts.</div>
            </div>
            <div class="flex-columns">
                <button class="btn btn-primary get-started-buttons pull-right" ng-click="openRehiveUrl('https://www.loom.com/share/d8b8cb4f4d6e448c830e7b973c98f161')">Watch video</button>
            </div>
        </div>
    </div>
</div>
<div ng-show="stellarTestnetUrl" class="panel" style="border-radius: 8px;">
    <div class="panel-body" style="padding: 15px 25px;">
        <div class="get-started-panel">
            <div class="flex-columns get-started-icons-container"><img src="assets/img/video_tile.svg" style="width: 50px; margin-top: -15px"></div>
            <div class="flex-columns">
                <label>Set up Stellar Testnet Extension</label>
                <div>Follow these steps to set up crypto warm storage and more.</div>
            </div>
            <div class="flex-columns">
                <!-- <button class="btn btn-primary get-started-buttons pull-right" ng-click="openRehiveUrl('')">Watch video</button> -->
                <div class="pull-right" style="width: 95px; height: 10px;">
                    <span class="get-started-text">Coming soon</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show="bitcoinTestnetUrl" class="panel" style="border-radius: 8px;">
    <div class="panel-body" style="padding: 15px 25px;">
        <div class="get-started-panel">
            <div class="flex-columns get-started-icons-container"><img src="assets/img/video_tile.svg" style="width: 50px; margin-top: -15px"></div>
            <div class="flex-columns">
                <label>Set up Bitcoin Testnet Extension</label>
                <div>Follow these steps to set up crypto warm storage and more.</div>
            </div>
            <div class="flex-columns">
                <button class="btn btn-primary get-started-buttons pull-right" ng-click="openRehiveUrl('https://www.loom.com/share/cb295af299b648059f3b4db5c49def47')">Watch video</button>
            </div>
        </div>
    </div>
</div>