<div ng-hide="exportingAccounts" class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">Export account currencies</h4>
    </div>
    <div class="modal-body">
        <div ng-hide="accountsExported">
            <div>
                <p class="divider">Please select file format:</p>
                <div class="divider-20">
                    <div class="custom-radio-groups-btn">
                        <label class="margin-right-10 pointer">
                            <input class="pointer" type="radio" ng-model="accountCurrenciesFileOutput.type" value="csv">
                            <span class="custom-radio-btn">CSV</span>
                        </label>
                        <label class="margin-right-10 pointer">
                            <input class="pointer" type="radio" ng-model="accountCurrenciesFileOutput.type" value="json">
                            <span class="custom-radio-btn">JSON</span>
                        </label>
                    </div>
                </div>
            </div>
            <p>Your export will show results for filters:
                <span ng-show="filtersTextsArray.length == 0">None selected</span>
            </p>
            <ul ng-show="filtersTextsArray.length > 0"
                class="export-filter-list"
                ng-repeat="text in filtersTextsArray track by $index">
                <li>{{text}}</li>
            </ul>
        </div>
        <div ng-show="accountsExported">
            <div>
                <p class="divider">Output file format: <strong>{{accountCurrenciesFileOutput.type | uppercase}}</strong></p>
            </div>
            <p>Your export will generate <strong>{{accountSetResponse.pages.length}}</strong> {{accountSetResponse.pages.length == 1 ? 'file': 'files'}}
                for a total of number <strong>{{accountSetResponse.count}} results</strong> for filters:
                <span ng-show="filtersTextsArray.length == 0">None selected</span>
            </p>
            <ul ng-show="filtersTextsArray.length > 0"
                class="export-filter-list" ng-repeat="text in filtersTextsArray track by $index">
                <li>{{text}}</li>
            </ul>
        </div>
    </div>
    <div class="modal-footer row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button ng-hide="accountsExported" ng-click="exportAccountsSet()"
                    class="dashboard-btn btn btn-primary no-margin pull-right">Export</button>
            <button ng-hide="accountsExported" type="button" ng-click="$dismiss()"
                    class="dashboard-btn btn-default btn no-margin pull-left">Close</button>
            <button ng-show="accountsExported" ng-click="$dismiss()"
                    class="dashboard-btn btn btn-primary no-margin pull-right">Ok</button>
        </div>
    </div>
</div>
<div ba-panel ng-show="exportingAccounts">
    <loading-image></loading-image>
</div>