<div ba-panel class="service-header menu-box" ba-panel-class="light-text">

    <hr class="no-margin">
    <div ng-click="goToWyreTestnetServiceSetting('settings')"
         ng-class="{'selected-settings-menu': wyreTestnetSettingView === 'settings' }"
         class="pointer menu-box-options">
        <h5>Settings <i class="pull-right ion-chevron-right"></i></h5>
    </div>

    <hr class="no-margin">
    <div ng-click="goToWyreTestnetServiceSetting('deactivation')"
         ng-class="{'selected-settings-menu': wyreTestnetSettingView === 'deactivation' }"
         class="pointer menu-box-options">
        <h5>Deactivation <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
</div>
