<div ng-hide="addingAccounts" class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add standalone account</h4>
    </div>
    <div class="modal-body">
        <form name="addAccountForm" class="custom-form" novalidate>
            <div class="form-group divider-20">
                <label>Account name  <span class="required-icon">*</span></label>
                <input type="text" class="form-control" ng-model="addAccountParams.name"
                       ng-change="addAccountParams.name = addAccountParams.name.toLowerCase()"
                       placeholder="Enter account name" required/>
            </div>
            <div class="form-group divider-20">
                <label>Currency <span class="required-icon">*</span></label>
                <div class="reward-multi-select divider">
                    <select chosen
                            multiple
                            data-placeholder-text-multiple="'Choose one or more currencies'"
                            width="100"
                            ng-model="currenciesForNewAccount.list"
                            ng-options="currency.display_code for currency in currenciesList | orderBy: 'code' track by currency.code"
                            required>
                        <option value=""></option>
                    </select>
                </div>
                <p ng-hide="currenciesList.length > 0 || addingUserAccount">Looks like you haven't added any currencies to your company yet.
                    Add one by going to the <a href="/#/currencies/currencies-list" target="_blank">currencies page</a>.</p>
            </div>
            <div ng-show="advancedOption" class="form-group divider-20 setup-groups-tooltip-div">
                <label>Reference &nbsp;<i class="ion-information-circled setup-groups-tooltip" uib-tooltip-html="'Rehive will auto-generate a unique reference for an account.
                 If you prefer to create your own reference you can enter it below.
                 References are generally used for identifying deposits from users.'"></i></label>
                <input type="text" class="form-control" ng-model="addAccountParams.reference" placeholder="Enter account reference"/>
            </div>
            <a ng-hide="advancedOption" ng-click="toggleAdvancedOption()"
               class="pointer">Advanced options</a>
            <a ng-show="advancedOption" ng-click="toggleAdvancedOption()"
               class="pointer">Hide advanced options</a>
            <button ng-click="addAccount(addAccountParams)" ng-disabled="!addAccountForm.$valid || (accountAssociation === 'user' && !addAccountParams.user)"
                    class="btn btn-primary no-margin pull-right dashboard-btn">Add
            </button>
        </form>
    </div>
    <div class="modal-footer">
    </div>
</div>
<div ba-panel ng-show="addingAccounts">
    <loading-image></loading-image>
</div>