<div class="menu-box panel">
    <div class="panel-heading">
        <!--<span class="user-details-panel-title">Stellar Service configuration</span>-->
        <span class="user-details-panel-title">Stellar Extension configuration</span>
    </div>
    <div class="panel-body">
        <div class="pointer divider-20 onboarding-menu-div" ng-click="goToConfigView('hot wallet')">
            <div class="company-setup-menu-navigation-div">
                <div ng-hide="currentConfigView == 'hot wallet'" class="menu-number">
                <span class="menu-number-text">1</span>
                </div>
                <div ng-show="currentConfigView == 'hot wallet'" class="menu-number setup-menu-active">
                    <span class="menu-number-text">1</span>
                </div>
            </div>
            <div class="company-setup-menu-navigation-title">Hot wallet</div>
        </div>

        <div class="pointer divider-20 onboarding-menu-div" ng-click="goToConfigView('warm storage')">
            <div class="company-setup-menu-navigation-div">
                <div ng-hide="currentConfigView == 'warm storage'" class="menu-number">
                <span class="menu-number-text">2</span>
                </div>
                <div ng-show="currentConfigView == 'warm storage'" class="menu-number setup-menu-active">
                    <span class="menu-number-text">2</span>
                </div>
            </div>
            <div class="company-setup-menu-navigation-title">Warm storage</div>
        </div>

        <div class="pointer divider-20 onboarding-menu-div" ng-click="goToConfigView('finish')">
            <div class="company-setup-menu-navigation-div">
                <div ng-hide="currentConfigView == 'finish'" class="menu-number">
                    <span class="menu-number-text">3</span>
                </div>
                <div ng-show="currentConfigView == 'finish'" class="menu-number setup-menu-active">
                    <span class="menu-number-text">3</span>
                </div>
            </div>
            <div class="company-setup-menu-navigation-title">Finish</div>
        </div>
    </div>
</div>

