<div ng-hide="loadingTerminal" class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">View terminal</h4>
    </div>
    <div class="modal-body padding-bottom-25">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-left-padding divider">
                <p class="text-subtle">Terminal id: </p>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 no-right-padding">
                <span ng-bind="terminalObj.id"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-left-padding divider">
                <p class="text-subtle">Name: </p>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 no-right-padding">
                <p ng-bind="terminalObj.name"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-left-padding divider">
                <p class="text-subtle">Currencies: </p>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 no-right-padding">
                <p>
                    <span ng-repeat="currency in terminalObj.currencies track by $index">
                        {{$last ? '' + currency.code : currency.code + ',&nbsp;'}}
                    </span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-left-padding divider">
                <p class="text-subtle">Enabled: </p>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 no-right-padding">
                <p ng-bind="terminalObj.enabled"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-left-padding divider-20">
                <p class="text-subtle">Public key: </p>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 no-right-padding" >
                <p ng-bind="terminalObj.public_key" style="word-wrap: break-word; width: 300px; padding-bottom: 10px"></p>              
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-left-padding divider">
                <p class="text-subtle">Date created: </p>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 no-right-padding">
                <p>{{terminalObj.created | date:'mediumDate'}} {{terminalObj.created | date:'shortTime'}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-left-padding divider">
                <p class="text-subtle">Date updated: </p>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 no-right-padding">
                <p>{{terminalObj.updated | date:'mediumDate'}} {{terminalObj.updated | date:'shortTime'}}</p>
            </div>
        </div>
    </div>
</div>
<div ba-panel ng-show="loadingTerminal">
    <loading-image></loading-image>
</div>
