<div ng-hide="loadingGroups" class="panel">
    <div class="panel-heading">
        <span class="user-details-panel-title">Reassign user group</span>
        <a ng-click="$dismiss()" class="panel-modal-close-icon pull-right pointer">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </a>
    </div>
    <div class="panel-body">
        <form name="reassignUserToGroupForm" class="custom-form" novalidate>
            <div ng-hide="decisionMadeToChangeGroup" class="form-group">
                <label>Group <span class="required-icon">*</span></label>
                <select ng-change="checkIfNewGroup()" class="form-control pointer divider" ng-model="groupForReassigning"
                        ng-options="group.name for group in groups | orderBy: 'name'" required>
                </select>
            </div>
            <div ng-show="decisionMadeToChangeGroup" class="form-group">
                <p>You are moving {{userEmail ? '': 'this user '}} <strong>{{userEmail ? userEmail: ''}}</strong>
                    {{oldGroup.name? 'from group ' : ''}}
                    <strong>{{oldGroup.name?oldGroup.name : ''}}</strong>
                    to group <strong>{{groupForReassigning.name}}</strong>.
                    Configurations of the destination group such as account configurations, limits,
                    fees etc will not be applied automatically to the user.</p>
            </div>
            <div ng-hide="decisionMadeToChangeGroup" class="form-group">
                <button ng-click="decisionMadeToChangeGroupFunction()" ng-disabled="sameGroup"
                        class="btn btn-primary user-accounts-btn pull-right">Reassign</button>
                <button ng-click="$dismiss()" class="btn btn-default pull-left user-accounts-btn">Close</button>
            </div>
            <div ng-show="decisionMadeToChangeGroup" class="form-group">
                <button ng-click="deleteUserGroup(groupForReassigning)" ng-disabled="!reassignUserToGroupForm.$valid"
                        class="btn btn-primary user-accounts-btn pull-right">Reassign</button>
                <button ng-click="decisionMadeToChangeGroupFunction()" class="btn btn-default pull-left user-accounts-btn">Back</button>
            </div>
        </form>
    </div>
</div>
<div ba-panel ng-show="loadingGroups">
    <loading-image></loading-image>
</div>