<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">Delete card</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-left-padding divider">
                <p class="text-subtle">Card id: </p>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 no-right-padding">
                <span ng-bind="card.id"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-left-padding divider">
                <p class="text-subtle">User: </p>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 no-right-padding">
                <span ng-bind="card.user"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-left-padding divider">
                <p class="text-subtle">Account: </p>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 no-right-padding">
                <p ng-bind="card.account"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-left-padding divider">
                <p class="text-subtle">Enabled: </p>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 no-right-padding">
                <p ng-bind="card.enabled"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-left-padding divider">
                <p class="text-subtle">Activated: </p>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 no-right-padding">
                <p ng-bind="card.activated"></p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default dashboard-btn pull-left" ng-click="$dismiss()">Close</button>
        <button type="button" class="btn btn-danger dashboard-btn pull-right" ng-disabled="deletingCard" ng-click="deleteCard()">Delete</button>
    </div>
</div>
